__pycache__
*.pyc
.idea
log
saved_models
expr_suites/complex_model/log
expr_suites/complex_model/saved_models
expr_suites/with_clf/log
expr_suites/with_clf/saved_models
expr_suites/with_unlabeled/log
expr_suites/with_unlabeled/saved_models